<!DOCTYPE html>
<html>
  <head>
    <title>AppoMusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
